body {
    display: grid;
    align-items: center;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    width: 327px;
    height: auto;
    gap: 40px;
    /* border: 1px solid black; */
}

.titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 51px;
    gap: 8px;
    /* border: 1px solid yellow; */
}

h3 {
    font-family: "Archivo";
    font-size: 16px;
    font-weight: 500;
    line-height: 17.41px;
}

h1 {
    font-family: "Archivo";
    font-size: 24px;
    font-weight: 600;
    line-height: 26.11px;
}

.caixa_inputs {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 184px;
    gap: 24px;

    /* border: 1px solid yellowgreen; */
}

.form_inputs {
    display: grid;
    grid-template-columns: 1fr;
    height: 76px;
    gap: 12px;
    /* border: 1px solid gray; */
}

label {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 15.23px;
}

.input_text {
    width: 100%;
    height: 49px;
    padding: 16px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    background: #F7FAFC;
}

::placeholder {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 400;
  line-height: 17.41px;
  text-align: left;
}

.link {
  display: flex;
  width: 100%;
  height: 16px;
  justify-content: space-between;
}

.link_ajuda_senha {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: right;
  color: #1E9E6A;
  text-decoration: none;
}

.botoes{
    border: 1px solid maroon;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 15px;
}

#botao_conta {
    width: 100%;
    height: 52px;
    padding: 16px 32px;
    border-radius: 4px;

    font-family: "Archivo";
    font-size: 18px;
    font-weight: 600;
    line-height: 19.58px;
    background: #1E9E6A;
    border: #1E9E6A;
    color: #FFFFFF;
    cursor: pointer;
}

/* .faca_login{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 52px;
    padding: 14px 32px;
    border-radius: 4px;
    background: #1A202C;
    gap: 15px;
    cursor: pointer;
} */

img{
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

#login {
    font-family: "Archivo";
    font-size: 18px;
    font-weight: 600;
    line-height: 19.58px;
    text-align: left;
    background: #1A202C;

    justify-content: center;
    width: 100%;
    height: 52px;
    padding: 14px 32px;
    border-radius: 4px;
    background: #1A202C;
    gap: 15px;
    cursor: pointer;
}
